/* Общие стили */
body {
  margin: 0%;
  padding: 0%;
  height: 100vh;
  overflow: hidden;
}

.App {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-size: 2vh;
}

/* Главный хеддер сайта */
header {
  margin: 0;
  width: 100%;
  background-color: black;
  color: white;
  height: 6.8vh ;
  display: flex;
  flex-flow: row;
  line-height: 100%;
}

.Logo {
  margin-top: 2.5vh;
  margin-left: 2.1vw;
  display: flex;
  flex-flow: column;
}

.RedStripe {
  background-image: url(assets/RedStripe.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  aspect-ratio: 1/4;
  height: 5.4%;
  width: 13%;
  margin-top: 0.2vh;
}

/* Общие стили для фунционального блока сайта*/
main {
  display: flex;
  margin-top: auto;
  flex-grow: 1;
  min-width: 100%;
  flex-flow: row;
  background-color: white;
}

select{
  background-color: #4e4e4e;
  color: white;
  margin-right: 1.1vw;
  border: none;
}

select > option {
  font-weight: 500;
}

#FromTypes {
  padding-top: 1.4vh;
  padding-bottom: 1.4vh;
}

#ToTypes {
  padding-top: 1.4vh;
  padding-bottom: 1.4vh;
}

textarea {
  resize: none;
  border: none;
  padding: 1vh;
  font-size: 2vh;
  font-family: Roboto;
  background-color: #F6F6F6;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  color:black;
}

textarea:focus {
  border: none;
  outline: none;
}

textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  position:absolute;
  bottom: 3vh;
  left: 3vh;
  color: #999999;
}

button {
  border: none;
  font-size: 2vh;
}

/* Основной левый блок с конвертацией */
.LeftSide {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

.LeftSide .Content {
  flex-grow: 1;
  display: flex;
  flex-flow: row;
}

.LeftSide .Block {
  width: 35.1vw;
}

.LeftSide .Block .Header {
  display: flex;
  flex-flow: row;
  padding-top: 1.4vh;
  padding-bottom: 1.4vh;
  align-items: center;
}

.LeftSide .Block .Button {
  margin-right: 1.1vw;
  padding-top: 1.4vh;
  padding-bottom: 1.4vh;
}

.LeftSide .Block .Header .Text {
  text-align: center;
  font-weight: 500;
  color: #C2C2C2;
  margin-right: 0.7vw;
}

.LeftSide .Input .Container {
  margin-left: 2.1vw;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.LeftSide .Input .Container .Body {
  margin-top: auto;
  flex-grow: 1;
  padding-bottom: 2.7vh;
}

.LeftSide .Output {
  margin-left: auto;
}

.LeftSide .Output .Container {
  margin-left: 0.4vw;
  margin-right: 1.4vw;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.LeftSide .Output .Container .Body {
  margin-top: auto;
  flex-grow: 1;
  padding-bottom: 2.7vh;
}

.LeftSide .Inactive {
  background-color: #878787;
  color: #9D9D9D;
  font-weight: 600;
  border-top: 0.3vh solid #878787;
  width: 100%;
}

.LeftSide .Copy {
  display: flex;
  flex-flow: row;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  background-color: #F4F4F4;
  color: #5F5F5F;
  align-items: center;
}

.LeftSide .Copy:disabled {
  opacity: 0.6;
}

.LeftSide .Copy .Icon {
  content: url(./assets/CopyIcon.svg);
  height: 5.4%;
  width: 13%;
}

.LeftSide .Copy .Icon:disabled {
  opacity: 0.4;
}

.LeftSide .Copy .Title {
  margin-left: 0.5vw;
}

.LeftSide .Download {
  display: flex;
  flex-flow: row;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  background-color: #F4F4F4;
  color: #5F5F5F;
  align-items: center;
}

.LeftSide .Download:disabled {
  opacity: 0.6;
}


.LeftSide .Download .Title {
  margin-left: 0.5vw;
}

.LeftSide .Download .Icon {
  content: url(./assets/DownloadIcon.svg);
  height: 10%;
  width: 20%;
}

/* Разделяющий див со стрелкой – BetweenStripe */
.LeftSide .BetweenStripe{
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  opacity: 0.6;
}

.LeftSide .BetweenStripe .FirstStripe {
  content: url(./assets/FirstStripe.svg);
  width: 0.266vh;
}

.LeftSide .BetweenStripe.Active .Arrow{
  opacity: 1;
}

.LeftSide .BetweenStripe.Active .SecondStripe, .LeftSide .BetweenStripe.Active .FirstStripe {
  opacity: 0.3;
}


.LeftSide .BetweenStripe .Arrow {
  content: url(./assets/Arrow.svg);
  width: 2.5vw;
  opacity: 0.7;
}



.LeftSide .BetweenStripe .SecondStripe {
  content: url(./assets/FirstStripe.svg);
  width: 0.266vh;
}



/* Правый сайдбар с параметрами настроек */
.RightSide {
  width: 27.1vw;
  margin-left: auto;
  display: flex;
  flex-flow: column;
  border-left: 0.15vw solid #878787; 
}

.RightSide .Container {
  display: flex;
  flex-flow: column;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.RightSide .Header {
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 0.15vh solid #ECECEC;
  font-weight: 500;
}

.RightSide .Body {
  padding-top: 2vh;
}


.RightSide .Apply {
  background-color: white;
  color: #5F5F5F;
  font-weight: 600;
  border-top: 0.3vh solid #EEEEEE;
  width: 100%;
}

/* Футер */
.Footer {
  margin-top: auto;
}

.Footer .Button {
  padding-top: 2vh;
  padding-bottom: 2vh; 
}

.LeftSide .Convert {
  width: 100%;
  background-color: black;
  color: white;
  font-weight: 600;
  border-top: 0.3vh solid black;
  width: 100%;
}

.LeftSide .Convert:disabled {
  width: 100%;
  background-color: #878787;
  color: #9D9D9D;
  font-weight: 600;
  border-top: 0.3vh solid #878787;
  width: 100%;
}

#types {
  font-size: 2vh;
  margin: 0 1% 0 1%;
  border: 0;
  border-radius: 0;
  padding: 0.3% 2%;
}

#types:focus {
  border: none;
  overflow: hidden;
  outline: none;
}