/* Общие стили */
body {
  margin: 0%;
  padding: 0%;
  height: 100vh;
  overflow: hidden;
}

.App {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-size: 2vh;
}

/* Главный хеддер сайта */
header {
  margin: 0;
  width: 100%;
  background-color: black;
  color: white;
  height: 6.8vh ;
  display: flex;
  flex-flow: row;
  line-height: 100%;
}

.Logo {
  margin-top: 2.5vh;
  margin-left: 2.1vw;
  display: flex;
  flex-flow: column;
}

.RedStripe {
  background-image: url(assets/RedStripe.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  aspect-ratio: 1/4;
  height: 5.4%;
  width: 13%;
  margin-top: 0.2vh;
}

/* Общие стили для фунционального блока сайта*/
main {
  display: flex;
  margin-top: auto;
  flex-grow: 1;
  min-width: 100%;
  flex-flow: row;
  background-color: white;
}

select{
  background-color: #4e4e4e;
  color: white;
  margin-right: 1.1vw;
  border: none;
}

select > option {
  font-weight: 500;
}

#FromTypes {
  padding-top: 1.4vh;
  padding-bottom: 1.4vh;
}

#ToTypes {
  padding-top: 1.4vh;
  padding-bottom: 1.4vh;
}

textarea {
  resize: none;
  border: none;
  padding: 1vh;
  font-size: 2vh;
  font-family: Roboto;
  background-color: #F6F6F6;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

textarea:focus {
  border: none;
  overflow: hidden;
  outline: none;
}

button {
  border: none;
  font-size: 2vh;
}

/* Основной левый блок с конвертацией */
.LeftSide {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

.LeftSide .Content {
  flex-grow: 1;
  display: flex;
  flex-flow: row;
}

.LeftSide .Block {
  width: 35.1vw;
}

.LeftSide .Block .Header {
  display: flex;
  flex-flow: row;
  padding-top: 1.4vh;
  padding-bottom: 1.4vh;
  align-items: center;
}

.LeftSide .Block .Button {
  margin-right: 1.1vw;
  padding-top: 1.4vh;
  padding-bottom: 1.4vh;
}

.LeftSide .Block .Header .Text {
  text-align: center;
  font-weight: 500;
  color: #C2C2C2;
  margin-right: 0.7vw;
}

.LeftSide .Input .Container {
  margin-left: 2.1vw;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.LeftSide .Input .Container .Body {
  margin-top: auto;
  flex-grow: 1;
  padding-bottom: 2.7vh;
}

.LeftSide .BetweenStripe {
  flex-grow: 1;
  background-color: aqua;
}

.LeftSide .Output {
  margin-left: auto;
}

.LeftSide .Output .Container {
  margin-left: 0.4vw;
  margin-right: 1.4vw;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.LeftSide .Output .Container .Body {
  margin-top: auto;
  flex-grow: 1;
  padding-bottom: 2.7vh;
}

/* Правый сайдбар с параметрами настроек */
.RightSide {
  width: 27.1vw;
  margin-left: auto;
  display: flex;
  flex-flow: column;
  border-left: 0.15vw solid #1e1e1e; 
}

.RightSide .Container {
  display: flex;
  flex-flow: column;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.RightSide .Header {
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 0.15vh solid #ECECEC;
  font-weight: 500;
}

.RightSide .Body {
  padding-top: 2vh;
}

.Apply {
  background-color: black;
  color: white;
  width: 100%;
}

/* Футер */
.Footer {
  margin-top: auto;
}

.Footer .Button {
  padding-top: 2vh;
  padding-bottom: 2vh; 
}

.Convert {
  width: 100%;
}

.Inactive {}

.Active {}



#types {
  font-size: 2vh;
  margin: 0 1% 0 1%;
  border: 0;
  border-radius: 0;
  padding: 0.3% 2%;
}

#types:focus {
  border: none;
  overflow: hidden;
  outline: none;
}